.Feedback {
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 15px 0;
    border-radius: 8px;
}

.Feedback--success {
    background: #44822f91;
}

.Feedback--fail {
    background: #de648091;
}

.Feedback__message {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}